# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# This workflow checks out code, performs a Codacy security scan
# and integrates the results with the
# GitHub Advanced Security code scanning feature.  For more information on
# the Codacy security scan action usage and parameters, see
# https://github.com/codacy/codacy-analysis-cli-action.
# For more information on Codacy Analysis CLI in general, see
# https://github.com/codacy/codacy-analysis-cli.

name: Test, scan, build and push image

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read



jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Use Node.js 22.x
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: '22.x'
  #         cache: 'npm'
  #     - run: npm install
  #     - run: npm run test
  # zap-scan:
  #   runs-on: ubuntu-latest
    
    # steps:
    #   - name: Checkout code
    #     uses: actions/checkout@v4
    #   - name: Run API
    #     uses: actions/setup-node@v4
    #     with:
    #       node-version: '22.x'
    #       cache: 'npm'
    #   - run: npm install
    #   - run: npm run start
    #   - name: Wait for API to be ready
    #     # This ensures ZAP doesn't start before the server is up
    #     run: npx wait-on http://localhost:3002 --timeout 60000
 
  # codacy-security-scan:
  #   permissions:
  #     contents: read # for actions/checkout to fetch code
  #     security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
  #     actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
  #   name: Codacy Security Scan
  #   runs-on: ubuntu-latest
  #   steps:
  #     # Checkout the repository to the GitHub Actions runner
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     # Execute Codacy Analysis CLI and generate a SARIF output with the security issues identified during the analysis
  #     - name: Run Codacy Analysis CLI
  #       uses: codacy/codacy-analysis-cli-action@d840f886c4bd4edc059706d09c6a1586111c540b
  #       with:
  #         # Check https://github.com/codacy/codacy-analysis-cli#project-token to get your project token from your Codacy repository
  #         # You can also omit the token and run the tools that support default configurations
  #         project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
  #         verbose: true
  #         output: results.sarif
  #         format: sarif
  #         # Adjust severity of non-security issues
  #         gh-code-scanning-compat: true
  #         # Force 0 exit code to allow SARIF file generation
  #         # This will handover control about PR rejection to the GitHub side
  #         max-allowed-issues: 2147483647

  #     # Upload the SARIF file generated in the previous step
  #     - name: Upload SARIF results file
  #       uses: github/codeql-action/upload-sarif@v4
  #       with:
  #         sarif_file: results.sarif
  # lint-dockerfile:
  #   permissions:
    #   contents: read # for actions/checkout to fetch code
    #   security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    #   actions: read
    # needs: [test]
    # runs-on: ubuntu-latest
    # steps:
    #   - name: Checkout code
    #     uses: actions/checkout@v4
    #   - name: Run hadolint to lint Dockerfile
    #     uses: hadolint/hadolint-action@f988afea3da57ee48710a9795b6bb677cc901183
    #     with:
    #       dockerfile: Dockerfile
    #       format: sarif
    #       output-file: hadolint-results.sarif
    #       no-fail: true
    #   - name: Upload SARIF results file
    #     uses: github/codeql-action/upload-sarif@v4
    #     with:
    #       sarif_file: hadolint-results.sarif
  build-image-and-generate-sbom:
    permissions:
      contents: write # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: write
    # needs: [test]
    runs-on: ubuntu-latest
    # steps:
    #   - name: Checkout code
    #     uses: actions/checkout@v4
    #   - name: Build the Docker image
    #     run: docker build . --file Dockerfile --tag ${{ github.repository }}:latest
    #   - name: Use Node.js 22.x
    #     uses: actions/setup-node@v4
    #     with:
    #       node-version: '22.x'
    #       cache: 'npm'
    #   - run: npm install
    #   - name: Install CycloneDX CLI
    #     run: npm install --global @cyclonedx/cyclonedx-npm
    #   - name: Generate nodejs(application level) SBOM
    #     run: |
    #       cyclonedx-npm -o node-sbom.json
    #   - name: Upload node SBOM
    #     uses: actions/upload-artifact@v4
    #     with:
    #       name: node-sbom
    #       path: node-sbom.json
      # - name: Generate container level SBOM via Syft
      #   uses: anchore/sbom-action@v0
      #   with:
      #     image: "${{ github.repository }}:latest"
      #     artifact-name: container-sbom.json
      #     format: cyclonedx-json
      # - name: Upload container SBOM
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: container-sbom
      #     path: container-sbom.json
    steps:
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ${{ github.repository }}:v1.0.0

      - name: Save Docker image
        run: docker save ${{ github.repository }}:v1.0.0 -o image.tar

      - name: Load Docker image for Syft
        run: docker load -i image.tar

      - name: Generate container level SBOM via Syft
        uses: anchore/sbom-action@v0.15.10
        with:
          image: "${{ github.repository }}:v1.0.0"
          artifact-name: container-sbom.json
          format: cyclonedx-json
      - name: Upload container SBOM
        uses: actions/upload-artifact@v4
        with:
          name: container-sbom
          path: container-sbom.json
      # - name: Commit SBOMs to repository
      #   run: |
      #     git config --local user.name "github-actions[bot]"
      #     git config --local user.email "github-actions[bot]@users.noreply.github.com"
      #     git add node-sbom.json container-sbom.json
      #     git commit -m "Added app level and container level SBOMs for transactions-service API" 
      #     git push
 