name: image publisher pipeline
on:
 push:
   branches: [ "main" ]

permissions:
    contents: write # for actions/checkout to fetch code
    security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    actions: write   

jobs:
    sca-and-dast-scan:
        uses: ./.github/workflows/generate-scan-sbom.yml